body {
  text-align: center;
  background-color: #011F3F;
  font-family: 'Press Start 2P', cursive;
}

#level-title {
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.btn {
  margin: 20px;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  position: relative;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  -webkit-text-fill-color: red;
  border-radius: 0 100% 0 10%;
  left: 380px;
}

.green {
  background-color: green;
  -webkit-text-fill-color: green;
  border-radius: 100% 0 10% 0;
  left: 380px;
}

.blue {
  background-color: blue;
  -webkit-text-fill-color: blue;
  border-radius: 10% 0 100% 0;
  left: 380px;
  bottom: 15px;
}

.yellow {
  background-color: yellow;
  -webkit-text-fill-color: yellow;
  border-radius: 0 10% 0 100%;
  left: 380px;
  bottom: 15px;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.score{
  position:absolute;
  top: 600px;
  display:flex;
  margin-top:25px;
  width:auto;
}

.best{
  color: #fef2bf;
  font-size: 1.5rem;
  display:flex;
  margin-left: 20px;
}

